global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin
	stats timeout 30s
	user haproxy
	group haproxy
	daemon


defaults
	log	global
	mode	http
	option	tcplog
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

listen nxlog 
    bind 0.0.0.0:5010
    mode    tcp
    balance roundrobin
    option  tcpka
    server one 10.0.4.214:5010 check inter 5000
    server two 10.0.4.215:5010 check inter 5000


listen titan-winbeats
    bind 0.0.0.0:4001
    mode    tcp
    balance roundrobin
    option  tcpka
    server one 10.0.4.214:4001 check inter 5000
    server two 10.0.4.215:4001 check inter 5000

listen stats 
    bind 0.0.0.0:1936
    stats show-legends
    stats refresh 5s
    stats hide-version
    stats uri /
